$main-color: #2f2f2f;

$main-text-color: #ece2d9;
$semimain-text-color: #e68558;
$secondary-text-color: #9FD2D1;


$base-font-family: 'Oswald', sans-serif;
$base-font-size: 18px;
$titles-font-size: 44px;
$subtitles-font-size: 22px;
$titles-font-weight: 700;
$subtitles-font-weight: 400;
$bace-font-weight: 100;
$letter-spacing: 2px;

